! Command: show running-config
! device: {{ obj.name }}
!
no aaa root
!
username admin privilege 15 role network-admin secret sha512 $6$0V8Zt1fhInKGu0AU$lMitXWPaObgx69HCruB0gDXxpRbt2DFCVw8HTvgh9MTS7vmcLYBkC8bQnBw5DCcXVYnqMxVVXbZKene3ispoE1
!
management api http-commands
   no shutdown
!
no service interface inactive port-id allocation disabled
!
transceiver qsfp default-mode 4x10G
!
service routing protocols model multi-agent
!
hostname {{ obj.name }}
!
snmp-server community public ro
!
spanning-tree mode mstp
!
system l1
   unsupported speed action error
   unsupported error-correction action error
!
{% for interface in obj.interfaces.all() %}
interface {{ interface.name }}
   {% if interface.description %}
   description {{ interface.description }}
   {% endif %}
   {% if interface.ip_addresses.all() %}
   no switchport
   {% for ip in interface.ip_addresses.all() %}
   ip address {{ ip.address }}
   {% endfor %}
   {% endif %}
!
{% endfor %}
interface Management0
   {% if obj.primary_ip4 %}
   ip address {{ obj.primary_ip4.address }}
   {% endif %}
   {% if obj.primary_ip6 %}
   ipv6 address {{ obj.primary_ip6.address }}
   {% endif %}
!
no ip routing
!
router multicast
   ipv4
      software-forwarding kernel
   !
   ipv6
      software-forwarding kernel
!
end
