! Command: show running-config
! device: {{ obj.name }} (cEOSLab, EOS-4.33.1F-39308076.liffeyceoslabarm (engineering build))
!
no aaa root
!
username admin privilege 15 role network-admin secret sha512 $6$0V8Zt1fhInKGu0AU$lMitXWPaObgx69HCruB0gDXxpRbt2DFCVw8HTvgh9MTS7vmcLYBkC8bQnBw5DCcXVYnqMxVVXbZKene3ispoE1
!
management api http-commands
   no shutdown
   no protocol https
   protocol https
!
no service interface inactive port-id allocation disabled
!
transceiver qsfp default-mode 4x10G
!
service routing protocols model multi-agent
!
hostname {{ obj.name }}
!
snmp-server community public ro
!
spanning-tree mode mstp
!
system l1
   unsupported speed action error
   unsupported error-correction action error
!
{# --- MAIN INTERFACE LOOP --- #}
{% for interface in obj.interfaces.all() %}
   {% if interface.name != 'Management0' %}
interface {{ interface.name }}
   {% if interface.description %}
   description {{ interface.description }}
   {% endif %}
   {# FIX 1: Only add 'no switchport' if it is an Ethernet interface #}
   {% if 'Ethernet' in interface.name %}
   no switchport
   {% endif %}
   {% for ip in interface.ip_addresses.all() %}
     {# FIX 2: Distinguish v4 vs v6 #}
     {% if ip.ip_version == 4 %}
   ip address {{ ip.address }}
     {% else %}
   ipv6 address {{ ip.address }}
     {% endif %}
   {% endfor %}
!
   {% endif %}
{% endfor %}

{# --- MANAGEMENT INTERFACE LOOP --- #}
{# FIX 3: We loop again to find Management0 so we can get its specific IPs #}
{% for interface in obj.interfaces.all() %}
   {% if interface.name == 'Management0' %}
interface Management0
   {% if interface.description %}
   description {{ interface.description }}
   {% endif %}
   {# Management0 usually does not use 'no switchport' command #}
   {% for ip in interface.ip_addresses.all() %}
      {% if ip.ip_version == 4 %}
   ip address {{ ip.address }}
      {% else %}
   ipv6 address {{ ip.address }}
      {% endif %}
   {% endfor %}
!
   {% endif %}
{% endfor %}
no ip routing
!
router multicast
   ipv4
      software-forwarding kernel
   !
   ipv6
      software-forwarding kernel
!
end
