! Command: show running-config
! device: {{ obj.name }}
!
no aaa root
!
username admin privilege 15 role network-admin secret sha512 $6$placeholder$hash
!
management api http-commands
   no shutdown
!
no service interface inactive port-id allocation disabled
!
service routing protocols model multi-agent
!
logging host 172.31.31.130
!
hostname {{ obj.name }}
!
snmp-server community public ro
snmp-server host 172.31.31.130 version 2c public
snmp-server enable traps
!
spanning-tree mode mstp
!
system l1
   unsupported speed action error
   unsupported error-correction action error
!
{% for interface in obj.interfaces %}
{% if interface.name.startswith('Ethernet') or interface.name.startswith('Loopback') or interface.name.startswith('Management') %}
interface {{ interface.name }}
{% if interface.description %}
   description {{ interface.description }}
{% endif %}
{% if interface.name.startswith('Ethernet') or interface.name.startswith('Loopback') %}
{% if not interface.name.startswith('Loopback') %}
   no switchport
{% endif %}
{% for addr in interface.ip_addresses %}
   ip address {{ addr.address }}
{% endfor %}
{% endif %}
{% if interface.name.startswith('Management') %}
{% for addr in interface.ip_addresses %}
   ip address {{ addr.address }}
{% endfor %}
{% endif %}
!
{% endif %}
{% endfor %}
ip routing
!
ip route 172.31.31.130/32 172.20.20.1
!
management ssh
   authentication mode password
!
end
