{% set ctx = obj.get_config_context() %}
{% set mgmt_vrf = ctx.mgmt_vrf | default('') %}
{% set vrfp = ('vrf ' ~ mgmt_vrf ~ ' ') if mgmt_vrf else '' %}
!
username admin privilege 15 role network-admin secret sha512 {{ ctx.admin_secret_hash | default('$6$placeholder$changeme') }}
{% for u in ctx.users | default([]) %}
username {{ u.name }} privilege {{ u.privilege | default('15') }} role {{ u.role | default('network-operator') }} secret sha512 {{ u.secret_hash }}
{% endfor %}
!
management api http-commands
   no shutdown
   protocol https
!
no aaa root
service routing protocols model {{ ctx.routing_model | default('multi-agent') }}
!
{% for h in ctx.syslog_hosts | default([ctx.syslog_server | default('172.20.21.1')]) %}
logging {{ vrfp }}host {{ h }}{{ (' ' ~ ctx.syslog_port) if ctx.syslog_port is defined else '' }}
{% endfor %}
!
hostname {{ obj.name }}
ip domain-name {{ ctx.domain_name | default('enterprise.local') }}
!
{% for d in ctx.dns_servers | default([ctx.dns_server | default('172.20.21.100')]) %}
ip name-server {{ vrfp }}{{ d }}
{% endfor %}
!
snmp-server contact {{ ctx.snmp_contact | default('noc@enterprise.local') }}
snmp-server location {{ ctx.snmp_location | default('set-location') }}
snmp-server enable traps
{% if ctx.snmp_host is defined %}
snmp-server host {{ ctx.snmp_host }} {{ vrfp }}version 3 priv {{ ctx.snmp_user | default('monitor') }}
{% endif %}
!
spanning-tree mode {{ ctx.spanning_tree_mode | default('mstp') }}
!
aaa authentication login default group tacacs+ local
{% for s in ctx.tacacs_servers | default([]) %}
tacacs-server host {{ s.host }} {{ vrfp }}key 7 {{ s.key }}
{% endfor %}
!
{% for i in ctx.routed_interfaces | default([]) %}
interface {{ i.name }}
   description {{ i.description | default('ROUTED') }}
   no switchport
   ip address {{ i.ip_address }}
!
{% endfor %}
{% for i in ctx.switched_interfaces | default([]) %}
interface {{ i.name }}
   description {{ i.description | default('ACCESS') }}
{% if i.mode | default('access') == 'access' %}
   switchport access vlan {{ i.vlan | default(1) }}
{% else %}
   switchport mode trunk
{% if i.trunk_vlans is defined %}
   switchport trunk allowed vlan {{ i.trunk_vlans }}
{% endif %}
{% endif %}
!
{% endfor %}
!
{% for i in ctx.unused_interfaces | default([]) %}
interface {{ i }}
   description UNUSED
   shutdown
!
{% endfor %}
!
ip routing
!
{% for s in ctx.ntp_servers | default([ctx.ntp_server | default('172.20.21.100')]) %}
ntp server {{ vrfp }}{{ s }}
{% endfor %}
!
{% if ctx.ospf is defined %}
router ospf {{ ctx.ospf.process | default(1) }}
   router-id {{ ctx.ospf.router_id }}
{% for n in ctx.ospf.networks | default([]) %}
   network {{ n.prefix }} area {{ n.area }}
{% endfor %}
{% endif %}
!
management ssh
   idle-timeout {{ ctx.ssh_idle_timeout | default(15) }}
   no shutdown
!
end
