version 24.4R1.9;
system {
    host-name {{ obj.name }};
    root-authentication {
        encrypted-password "$6$JNQ6Idvu$WJ3cnttvnngCCZnSDJmPt6fuSdGO.cobuHIr02o.s6rFMkkJYA2974O6yKxk.FbEShHUwmxMDM3rd9VHNOEsw1"; ## SECRET-DATA
    }
    services {
        netconf {
            ssh;
        }
        ssh {
            root-login allow;
        }
        web-management {
            http {
                interface fxp0.0;
            }
            https {
                system-generated-certificate;
                interface fxp0.0;
            }
        }
    }
    syslog {
        file interactive-commands {
            interactive-commands any;
        }
        file messages {
            any any;
            authorization info;
        }
    }
    license {
        autoupdate {
            url https://ae1.juniper.net/junos/key_retrieval;
        }
    }
}
security {
    pki {
        ca-profile ISRG_Root_X1 {
            ca-identity ISRG_Root_X1;
            pre-load;
        }
        ca-profile Lets_Encrypt {
            ca-identity Lets_Encrypt;
            enrollment {
                url https://acme-v02.api.letsencrypt.org/directory;
            }
        }
    }
    screen {
        ids-option untrust-screen {
            icmp {
                ping-death;
            }
            ip {
                source-route-option;
                tear-drop;
            }
            tcp {
                syn-flood {
                    alarm-threshold 1024;
                    attack-threshold 200;
                    source-threshold 1024;
                    destination-threshold 2048;
                    queue-size 2000; ## Warning: 'queue-size' is deprecated
                    timeout 20;
                }
                land;
            }
        }
    }
    policies {
        from-zone trust to-zone trust {
            policy default-permit {
                match {
                    source-address any;
                    destination-address any;
                    application any;
                }
                then {
                    permit;
                }
            }
        }
        from-zone trust to-zone untrust {
            policy default-permit {
                match {
                    source-address any;
                    destination-address any;
                    application any;
                }
                then {
                    permit;
                }
            }
        }
        pre-id-default-policy {
            then {
                log {
                    session-close;
                }
            }
        }
    }
    zones {
        security-zone trust {
            tcp-rst;
            interfaces {
                {% for interface in obj.interfaces.all() %}
                {% if interface.name.startswith("ge-") %}
                {{ interface.name }}.0 {
                    host-inbound-traffic {
                        system-services {
                            all;
                        }
                        protocols {
                            all;
                        }
                    }
                }
                {% endif %}
                {% endfor %}
            }
        }
        security-zone untrust {
            screen untrust-screen;
        }
    }
}
interfaces {
    {% for interface in obj.interfaces.all() %}
    {{ interface.name }} {
        unit 0 {
            {% if interface.description %}
            description {{ interface.description }};
            {% endif %}
            family inet {
                {% if interface.ip_addresses.first() %}
                address {{ interface.ip_addresses.first().address }};
                {% endif %}
            }
        }
    }
    {% endfor %}
}
snmp {
    community public {
        authorization read-only;
    }
}
protocols {
    ospf {
        area 0.0.0.0 {
            {% for interface in obj.interfaces.all() %}
            {% if interface.name.startswith("ge-") %}
            interface {{ interface.name }}.0;
            {% endif %}
            {% endfor %}
        }
    }
    lldp {
        interface all;
    }
}
routing-options {
    static {
        route 0.0.0.0/0 next-hop 192.168.130.2;
    }
}
